<!DOCTYPE html>
<html>
<head>
  <title>Login - Bank</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">
  <h2>🔐 Login</h2>

  <form method="POST">
        <label>Account Number:</label><br>
        <input type="text" name="account_number" required><br><br>

        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>

        <button type="submit">Login</button>
    </form>

  <p>No account? <a href="signup">Create one</a></p>
</div>

</body>
</html>
